<!DOCTYPE html>
<html lang="en">
<style>
  .background {
    background: linear-gradient( rgba(30, 11, 54, 0.65), rgba(202, 55, 130, 0.7));
    padding:2em;
    margin:1em;
  }
  body { 
    display: grid;
  }
  h1, h2{
    font-family: "Inconsolata", monospace;
    text-align: center;
    color: #ffffff;
  }
  img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  }
</style>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div class="background">
  <h1>ERR: 404</h1>
</div>
<div class="background">
  <h1><%= message %></h1>
  <h2>Welp, something got fucked up</h2>
  <h2>If you're seeing this, click on the instagram link and message me, something has broken</h2>
</div>
<div class="background"><a href="https://www.instagram.com/shlopshop/?hl=en"><h1>nstagram</h1>i</a></div>
<div class="background"></h1>imy username is shlopshop there, or email me at clarkfischerriv@gmail.com</h1>i</div>
</body>
</html>