/* Reset */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
 }
}
@media (max-width: 56.25em) {
  html  {
    font-size: 50%;
 }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
 }
}
body{
  
display:grid

  
}
.contact{
  display:grid;
  grid-template-columns: 1fr .2fr;
  background-color: rgba(30, 11, 54, 0.9);
  padding:.5em;
  color: #eee;
  font-size:medium;
  font-family: "Inconsolata", monospace;

}
.instagram{
  text-align: right;
}
.title {
  padding: 1em;
  text-align: center;
  font-size: 8em;
  font-family: "Inconsolata", monospace;
  color: #eee;
  background-image: linear-gradient(to right bottom, rgba(30, 11, 54, 0.65), rgba(202, 55, 130, 0.7)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
}
.subtitle {
  padding: 1em;
  font-size: large;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  padding: 1em 1em;
}
/* div{
  border: 1px solid blue;
} */
.mod1 input[type=text] {
  padding: 1.24em;
  margin: 1em 1em;
  min-width:95%;
  border: none;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  border-radius:10px;
  font-family: "Inconsolata", monospace;
}

.mod2 textarea {
  padding: 1em;
  margin: 1em 1em;
  width: 44em;
  height: 15em;
  border: none;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  border-radius:10px;
  font-family: "Inconsolata", monospace;
  resize: none;
}


.mod3 {
  text-align: center;
  font-family: "Inconsolata", monospace;
}

.Xpl-title {
  font-size: clamp(2rem, -3.0000rem + 3.5000vw, 4rem);
  color:gray;
  margin: .5em;
}
.Xpl-txt {
  font-size: clamp(2rem, -.333rem + 1.5556vw, 2.6rem);
}


body {
  background-color: #ece0e8;
}

.final {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.select1 select{
  font-family: "Inconsolata", monospace;
  padding: 1em;
  border: none;
  margin: 1em 1em;
  border-radius: 10px;
  min-width:95%;
  min-height: 100%;
  
  
}
.mod2 button {
  font-family: "Inconsolata", monospace;
  border: none;
  background-color:rgba(0, 0, 0, 0.15);
  padding: 1em;
  margin: 1em 1em;
  border-radius: 10px;
  min-width:95%;
  min-height:50%;
}


.cards {
  max-width: 1200px;
  margin: 0em auto;
  display: grid;
  grid-gap: 4rem;
 
}
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(1, 1fr); }
}
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(2, 1fr); }

}
@media (max-width: 1100px) {
  .container { 
    grid-template-columns: repeat(1, 1fr);
  }
  .mod1 {
    width: 100vw;
  }
  .mod2 textarea {
    width: 95vw;
  }
  .artboard {display: none;}
}
.artboard {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  height: 100%;
  position: relative;

}
@media (max-width: 37.5em) {
  .artboard {
    padding: 1rem;
 }
}

.card {
  flex: initial;
  position: relative;
  height: 52rem;
  width: 48rem;

  

  -moz-perspective: 200rem;
  perspective: 200rem;
  margin: 2rem;
}
.card__side {
  height: 45rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  -webkit-backface-visibility: hidden;
 /* We don't want to see the back part of the element. */
  backface-visibility: hidden;
 /* We don't want to see the back part of the element. */
  border-radius: 3px;
  overflow: hidden;
 /* The image is overflowing the parent. */
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
}
.card__side__main {
  height: 45rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
 /* We don't want to see the back part of the element. */
  backface-visibility: hidden;
 /* We don't want to see the back part of the element. */
  border-radius: 3px;
  overflow: hidden;
 /* The image is overflowing the parent. */
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-image: linear-gradient(to right bottom, rgba(30, 11, 54, 0.65), rgba(202, 55, 130, 0.7)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
}
.card__side--back { 
  background-color: #fff;
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card__theme {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 54%;
  width: 90%;
  text-align: center;
}
.card__theme-box {
  color: #fff;
  margin-bottom: 8rem;
}
.card__subject {
  font-family: "Inconsolata", monospace;
  letter-spacing: 0.8rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.card__title {
  font-family: "VT323", monospace;
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 100;
}
.card__cover {
  position: relative;
  background-size: cover;
  height: 14rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-image: linear-gradient(to top right, rgba(30, 11, 54, 0.65), rgba(202, 55, 130, 0.65)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
}
.card__heading {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}
.card__heading-span {
  font-family: "VT323", monospace;
  font-size: 4.2rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  color: #fff;
}
.card__details {
  font-family: "Inconsolata", monospace;
  padding: 4rem 2rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: .1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
@media only screen and (max-width: 37.5em), only screen and (hover: none) {

  .card {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
 }
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
 }
  .card__side--front {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
 }
  .card__side--back {
    transform: rotateY(0);
 }
  .card:hover .card__side--front {
    transform: rotateY(0);
 }
  .card__details {
    padding: 3rem 2rem;
 }
  .card__theme {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 5rem 4rem 1.5rem 4rem;
    text-align: right;
 }
  .card__theme-box {
    margin-bottom: 1.5rem;
 }
  .card__title {
    font-size: 4rem;
 }
}
